{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

<!-- {% block coltype %}colMS{% endblock %} -->

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <!-- <p class="view-type float-right overflow-hidden">
        <span class="grid-view"><i class="fas fa-grip-horizontal"></i> Grid View</span> /
        <span class="table-view"><i class="fas fa-th-list"></i> Table View</span>
    </p> -->

    {% if app_list %}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: tomato;"><span><i class="fas fa-funnel-dollar"></i></span></h3>
                    <h5 class="text-center">Today's Sales</h5>
                    <h5 class="text-center">300120</h5>
                    <p class="mt-3 pt-3 pb-3" style="font-size: 13px;">
                        <span class="float-left">Last Day: <span><i class="fas fa-dollar-sign"></i></span> 12058</span> <span class="float-right">This week: <span><i class="fas fa-dollar-sign"></i></span> 45865200</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: #862d59;"><span><i class="fas fa-cart-plus"></i></span></h3>
                    <h5 class="text-center">Ordered Today</h5>
                    <h5 class="text-center">300</h5>
                    <p class="pt-3  text-center">
                        <a href="#"><span class="mr-3">See All Orders</span> <span><i class="fas fa-arrow-right"></i></span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: #0099cc;"><span><i class="far fa-clock"></i></span></h3>
                    <h5 class="text-center">Order Pending</h5>
                    <h5 class="text-center">{{ pending_orders }}</h5>
                    <p class="pt-3  text-center">
                        <a href="{% url 'admin:dookan_order_changelist' %}?order_confirm__exact=0"><span class="mr-3">See All Orders</span> <span><i class="fas fa-arrow-right"></i></span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: #00cc7a;"><span><i class="fas fa-user-tie"></i></span></h3>
                    <h5 class="text-center">Total Customer</h5>
                    <h5 class="text-center">{{ total_customers }}</h5>
                    <p class="pt-3  text-center">
                        <a href="{% url 'admin:system_customer_changelist' %}"><span class="mr-3">See All Customers</span> <span><i class="fas fa-arrow-right"></i></span></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                <div class="w-100 dash-half-box">
                    <h2>{% trans 'Recent Activities' %}</h2>
                    {% load log %}
                    {% get_admin_log 7 as admin_log for_user user %}
                    {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                    {% else %}
                    <ul class="list-group list-group-flush">
                        {% for entry in admin_log %}
                        <li class="list-group-item">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }} <span class="text-danger float-right">Deleted</span>
                            {% else %}

                            {% if entry.object_repr|length > 30 %}
                            {{ entry.object_repr|truncatechars:30 }}
                            {% else %}
                            {{ entry.object_repr }}
                            {% endif %}

                            {% if entry.is_addition %}<span class="text-success ml-2"> added</span>{% endif %}
                            {% if entry.is_change %}<span class="text-primary ml-2"> updated</span>{% endif %}
                            <a href="{{ entry.get_admin_url }}" class="float-right">Click</a>
                            {% endif %}
                            <br>
                            {% if entry.content_type %}
                            <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                            {% else %}
                            <span class="mini quiet">{% trans 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                <div class="w-100 dash-half-box">
                    <h5>Recent Orders</h5>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Refernce</th>
                            <th scope="col">Invoice</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Status</th>
                            <th scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">112-k</th>
                            <td>INV-245784</td>
                            <td>Md Nazmul Hasan</td>
                            <td><span class="text-primary">Pending</span></td>
                            <td>2580</td>
                          </tr>
                          <tr>
                            <th scope="row">112-k</th>
                            <td>INV-245784</td>
                            <td>Md Nazmul Hasan</td>
                            <td><span class="text-success">Paid</span></td>
                            <td>2580</td>
                          </tr>
                          <tr>
                            <th scope="row">112-k</th>
                            <td>INV-245784</td>
                            <td>Md Nazmul Hasan</td>
                            <td><span class="text-danger">Canceld</span></td>
                            <td>2580</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
    {% endif %}
</div>
{% endblock %}

