{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

<!-- {% block coltype %}colMS{% endblock %} -->

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <!-- <p class="view-type float-right overflow-hidden">
        <span class="grid-view"><i class="fas fa-grip-horizontal"></i> Grid View</span> /
        <span class="table-view"><i class="fas fa-th-list"></i> Table View</span>
    </p> -->

    {% if app_list %}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: tomato;"><span><i class="fas fa-funnel-dollar"></i></span></h3>
                    <h5 class="text-center">Today's Sales</h5>
                    <h5 class="text-center">300120</h5>
                    <p class="mt-3 pt-3 pb-3" style="font-size: 13px;">
                        <span class="float-left">Last Day: <span><i class="fas fa-dollar-sign"></i></span> 12058</span> <span class="float-right">This week: <span><i class="fas fa-dollar-sign"></i></span> 45865200</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: #862d59;"><span><i class="fas fa-cart-plus"></i></span></h3>
                    <h5 class="text-center">Ordered Today</h5>
                    <h5 class="text-center">300</h5>
                    <p class="pt-3  text-center">
                        <a href="#"><span class="mr-3">See All Orders</span> <span><i class="fas fa-arrow-right"></i></span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: #0099cc;"><span><i class="far fa-clock"></i></span></h3>
                    <h5 class="text-center">Order Pending</h5>
                    <h5 class="text-center">180</h5>
                    <p class="pt-3  text-center">
                        <a href="#"><span class="mr-3">See All Orders</span> <span><i class="fas fa-arrow-right"></i></span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3">
                <div class="w-100 shadow p-3 mb-5 bg-white rounded summary-box">
                    <h3 class="text-center" style="color: #00cc7a;"><span><i class="fas fa-user-tie"></i></span></h3>
                    <h5 class="text-center">Total Customer</h5>
                    <h5 class="text-center">57800</h5>
                    <p class="pt-3  text-center">
                        <a href="#"><span class="mr-3">See All Customers</span> <span><i class="fas fa-arrow-right"></i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
    {% endif %}
</div>
{% endblock %}

