html, body{
    background-color: #ecf6ff !important;
    height: 100%;
}

#header {
    width: auto;
    height: auto;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 7px 30px;
    background: rgb(228, 228, 228);
    color: #0c0b0b;
    overflow: visible !important;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #0c0b0b;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #0c0b0b;
}

#header a:link, #header a:visited {
    color: #0c0b0b;
}


#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #0c0b0b;
}

#branding a:hover {
    text-decoration: none;
}

.dashboard #content {
   width: 600px;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
}

#content {
    padding: 20px 40px;
}

.dashboard #content {
    width: 800px;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 280px;
    position: relative;
    margin-right: -400px;
}

#footer {
    clear: both;
    padding: 10px;
}

div.breadcrumbs {
    background: #25314b;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}

div.breadcrumbs a {
    color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
}

.module ul {
    margin-left: 0;
}

.module caption {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #00b38f;
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #25314b;
    color: #fff;
}

.single-app-box{
    background-color: #0099cc;
}
.single-app-box h5{
   color: #008066;
}

.app-box-title a, .app-box-title a:hover{
    color: #151616 !important;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    padding: 7px 12px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #25314b;
    border-color: #25314b;
}

a:link, a:visited {
    color: #25314b;
    text-decoration: none;
}

.collapse:not(.show) {
    display: block !important;
}

.btn-outline-dookan{
    color: #101111 !important;
    border-color: #25314b !important;
}

.btn-dookan{
    color: #fff !important;
    background-color: #25314b !important;
    border-color: #25314b !important;
}

.btn-outline-dookan:hover{
    color: #ffffff !important;
    border-color: #25314b !important;
    background-color: #25314b !important;
}

.btn-outline-dookan-list{
    color: #e65c00 !important;
    border-color: #e65c00 !important;
}

.btn-outline-dookan-list:hover{
    color: #ffffff !important;
    border-color: #cc5200 !important;
    background-color: #cc5200 !important;
}

.view-type span{
    cursor: pointer;
}

.data-table-view{
    display: none;
}

.data-table-view table > th > tr > td{
    background-color: #ec7734 !important;
}

.hide-template{
    display: none !important;
}

thead th {
    padding: 5px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: #e7530ea1;
    color: #fff !important;
}

#changelist table thead th {
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff !important;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: #e26f39a1;
}

thead th.sorted {
    background: #e26f39a1;
}

thead th a:link, thead th a:visited {
    color: #fff !important;
}

/* .table-bordered th {
    border: 1px solid #dee2e6 !important;
}
.table-bordered td {
    border: 1px solid #161818 !important;
} */

.app_caption, .app_caption a{
    /* background-color: #c7e1f7; */
    color: #e2e8f0 !important;
    text-decoration: none !important;
}

.app-sidebar{
    min-height: calc(100vh - 50px);
}

.model-list-sidebar{
    background-color: #1a202e;
    min-height: calc(100vh - 50px);
}

.sidebar-nav-li a{
    display: block;
    text-decoration: none !important;
    color: #a6a6a6;
}

.sidebar-nav-li{
    background-color: #1a202e !important;
    border-top: 1px solid #1a202e !important;
    border-bottom: 1px solid #1a202e !important;
    font-size: 18px !important;
    padding: 1.05rem 1.25rem !important;
}

.sidebar-nav-li:hover a{
    
    color: #e2e8f0;
}

.sidebar-nav-li:hover{
    background-color: #1c2436 !important;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.col-md-2, .col-lg-2, .col-xl-2{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.user-thumbnail{
    width: 40px;
    height: 40px;
    padding: 5px !important;
    cursor: pointer;
}

.user-tool-dropwdown{
    position: absolute;
    top: 100%;
    right: 0px;
    width: 180px;
    z-index: 9999;
    text-align: left;
    background-color: #324164;
    padding: 0px !important;
    display: none;
        
}
.user-tool-dropwdown li{
    list-style: none;
    padding: 0px !important;
}
.user-tool-dropwdown > li > a{
    display: block;
    color:#e2e8f0 !important;
    padding: 10px 15px;
}

.sidebar-list-submenu{
    list-style: none !important;
    display: none;
    background-color: rgb(16, 17, 31);
    list-style: none;
    padding: 0px !important;
}

.sidebar-list-submenu > li{
    /* padding-top: 8px;
    padding-bottom: 8px; */
    font-size: 15px !important;
    padding: 10px 12px !important;
    border-right: 5px solid rgb(16, 17, 31);
}

.sidebar-list-submenu > li:hover{
    background-color: rgb(25, 27, 48);
    border-right: 5px solid #e7530ea1;
}

.summary-box > p > a{
    padding: 0px !important;
}

.dash-half-box{
    background-color: #fff;
    padding: 18px 15px;
}

.page-item > a {
    position: relative !important;
    display: block !important;
    padding: .5rem .75rem !important;
    margin-left: -1px !important;
    line-height: 1.25 !important;
    color: #eff1f3 !important;
    background-color: #324164 !important;
    border: 1px solid #324164 !important;
    text-decoration: none;
}

.page-item:hover > a {
    background-color: #324164 !important;
    text-decoration: none;
}


.pagination .page-item{
    list-style: none;
    margin-right: 3px;
}


.page-item > span {
    position: relative !important;
    display: block !important;
    padding: .5rem .75rem !important;
    margin-left: -1px !important;
    line-height: 1.25 !important;
    color: #007bff !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}

.page-item:first-child a {
    border-top-left-radius: .3rem !important;
    border-bottom-left-radius: .3rem !important;
}

.paginator {
    font-size: 13px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 22px !important;
    margin: 0 !important;
    border-top: 0px solid #ddd !important;
}

.containerMargin{
    margin-top: 41px;
}

.containerMarginDec{
    margin-top: -2px;
}


/* Login CSS */

.login #container {
    background: none !important;
    border: none !important;
    border-radius: 4px !important;
    overflow: hidden !important;
    width: 100% !important;
    min-width: 300px !important;
    margin: 0px auto !important;
}

.login #container #login-content-main{
    background: #fff !important;
    /* border: 1px solid #1c2436 !important; */
    border: none !important;
    min-width: 28em !important;
    /* width: 35em !important; */
    max-width: 40em !important;
    margin-top: 70px;
    
}

.login-header{
    background-color: #e7530ea1 !important;
    color: #ffffff !important;
}

.form-group label {
    display: inline-block !important;
    margin-bottom: .5rem !important;
}

input[type=submit], input[type=button] {
    background: #46567c !important;
    border: 1px solid #25314b !important;
    padding: none !important;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer !important;
}

.errornote {
    width: 40em !important;
    font-size: 13px !important;
    font-weight: normal !important;
    display: block;
    padding: none !important;
    margin: 0 0 10px 0!important;
    color: #ba2121;
    border: none !important;
    border-radius: 4px;
    background-color: none !important;
    background-position: none !important;
}

.login-left-bar{
    background-color: #1a202e;
    color: #ffffff;
    padding-top: 50px;
}

.login-left-bar h3{
    margin-top: 50px;
  text-transform: uppercase;
}

.login-left-bar, .login-right-bar, .login-container-fluid{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}

.login-right-bar{
    padding-top: 50px !important;
}

/* Change List CSS */

.change-list #content-main{
    background-color: #fff !important;
    /* margin-top: 20px !important; */
}

#changelist-filter {
    z-index: 997 !important;
    background: #dbdada !important;
}

#changelist-filter h2{
    background-color: #1a202e !important;
    padding: 14px 10px !important;
}

#changelist-filter li.selected a {
    color: #4a5d8b !important;
}

#changelist-filter ul li, #changelist-filter ul li a{
    color: #3a4661  !important;
}

.dookan-actions{
    margin-right: 280px;
}

.action-counter{
    font-size: 13px;
    color: rgb(119, 113, 113);
}

body.change-form fieldset{
    padding: 15px 10px;
    margin-top: 10px;
}

.selector-chosen h2 {
    background: #25314b !important;
    color: #fff;
}

/* Delete confirmation CSS */
.delete_confirmation_box{
    padding: 15px;
    background-color: #fff;
}

.delete-summary-list{
    list-style-type: none !important;
    padding: 4px !important;
}
.delete-summary-list li, .delete-objects-list li{
    list-style: none !important;
    /* padding: 0px !important; */
}

.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.delete-confirmation form input[type="submit"] {
    background: #dc3545 !important;
    border-color: #dc3545 !important;
    border-radius: 4px;
    padding: .37rem .75rem !important;
    color: #fff !important;
}

.form-row > .field-user_avatar, .form-row > .field-is_staff{
    margin-left: 60px !important;
}