html, body{
    background-color: #ecf6ff !important;
}

#header {
    width: auto;
    height: auto;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #fff;
    color: #0c0b0b;
    overflow: visible !important;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #0c0b0b;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #0c0b0b;
}

#header a:link, #header a:visited {
    color: #0c0b0b;
}


#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #0c0b0b;
}

#branding a:hover {
    text-decoration: none;
}

.dashboard #content {
   width: 600px;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
}

#content {
    padding: 20px 40px;
}

.dashboard #content {
    width: 800px;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 280px;
    position: relative;
    margin-right: -400px;
}

#footer {
    clear: both;
    padding: 10px;
}

div.breadcrumbs {
    background: #00b38f;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}

div.breadcrumbs a {
    color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
}

.module ul {
    margin-left: 0;
}

.module caption {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #00b38f;
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #00b38f;
    color: #fff;
}

.single-app-box{
    background-color: #0099cc;
}
.single-app-box h5{
   color: #008066;
}

.app-box-title a, .app-box-title a:hover{
    color: #151616 !important;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    padding: 7px 12px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #00997a;
    border-color: #00997a;
}

a:link, a:visited {
    color: #00997a;
    text-decoration: none;
}

.collapse:not(.show) {
    display: block !important;
}

.btn-outline-dookan{
    color: #101111 !important;
    border-color: #101111 !important;
}

.btn-outline-dookan:hover{
    color: #ffffff !important;
    border-color: #00cca3 !important;
    background-color: #00cca3 !important;
}

.btn-outline-dookan-list{
    color: #e65c00 !important;
    border-color: #e65c00 !important;
}

.btn-outline-dookan-list:hover{
    color: #ffffff !important;
    border-color: #cc5200 !important;
    background-color: #cc5200 !important;
}

.view-type span{
    cursor: pointer;
}

.data-table-view{
    display: none;
}

.data-table-view table > th > tr > td{
    background-color: #161818 !important;
}

.hide-template{
    display: none !important;
}

thead th {
    padding: 5px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: #161818;
    color: #fff !important;
}

#changelist table thead th {
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff !important;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: #161818;
}

thead th.sorted {
    background: #161818;
}

thead th a:link, thead th a:visited {
    color: #fff !important;
}

/* .table-bordered th {
    border: 1px solid #dee2e6 !important;
}
.table-bordered td {
    border: 1px solid #161818 !important;
} */

.app_caption, .app_caption a{
    /* background-color: #c7e1f7; */
    color: #e2e8f0 !important;
    text-decoration: none !important;
}

.model-list-sidebar{
    background-color: #1a202e;
}

.sidebar-nav-li a{
    display: block;
    text-decoration: none !important;
    color: #a6a6a6;
}

.sidebar-nav-li{
    background-color: #1a202e !important;
    border-top: 1px solid #1a202e !important;
    border-bottom: 1px solid #1a202e !important;
    font-size: 18px !important;
}

.sidebar-nav-li:hover a{
    
    color: #e2e8f0;
}

.sidebar-nav-li:hover{
    background-color: #1c2436 !important;
}

.col-md-2, .col-lg-2, .col-xl-2{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.user-thumbnail{
    width: 40px;
    height: 40px;
    padding: 5px !important;
    cursor: pointer;
}

.user-tool-dropwdown{
    position: absolute;
    top: 100%;
    right: 0px;
    width: 180px;
    z-index: 1000;
    text-align: left;
    background-color: #324164;
    padding: 0px !important;
    display: none;
    
    /*
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    
    list-style: none;
    background-color: rgb(175, 166, 166);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15); */
        
}
.user-tool-dropwdown li{
    list-style: none;
    padding: 0px !important;
}
.user-tool-dropwdown > li > a{
    display: block;
    color:#e2e8f0 !important;
    padding: 10px 15px;
}

.sidebar-list-submenu{
    list-style: none !important;
    display: none;
}

.sidebar-list-submenu > li{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px !important;
}